# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorio de salida de compilación
dist/

# Archivos de configuración del editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de entorno
.env
.env.test

# Sistema operativo
.DS_Store
Thumbs.db

# Otros
coverage/
tmp/
temp/
